.calcBody {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 0.01fr);
  grid-gap: 20px;
}

.calculator {
  background: black;
  align-items: center;
  border-radius: 10%;
  display: grid;
  height: 310px;
  justify-content: center;
  width: 210px;
  margin: auto;
  margin-top: 100px;
}

.display {
  color: white;
  align-items: center;
  text-align: center;
  height: 120px;
  justify-content: center;
}
