.app{
  background: lightblue;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.tweet{
  border: 2px solid black;
border-radius: 10px;
margin: 10px;
padding: 10px;
align-items: center;
text-align: center;
display: inline-block;
width: 40%;
max-width: 300px;
background-color: white;
}

.red{
  color: red;
}