body{
  background-color: black;
}
.calcBody {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 0.01fr);
  grid-gap: 20px;
}

.calculator {
  background: blue;
  align-items: center;
  border-radius: 10%;
  display: grid;
  height: 310px;
  justify-content: center;
  width: 210px;
  margin: auto;
  margin-top: 100px;
  border: 2px solid red;
}

.button {
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 40%;
 border: 2px solid red;
 
  
}

.display {
  color: white;
  text-align: center;
  height: 120px;  
}

.topDisplay{
  height: 30%;
  font-size: 1.5em;
  
 
  margin-bottom: 5%
}
.bottomDisplay{
  height: 50%;
  font-size: 3em;
 
  border-radius: 30%;
  

}